@use "../abstracts" as *;
.footer-default {
  background: $secondary-clr;
  color: $accent-clr;
  margin-top: auto;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
