$font-sizeXXXL: clamp(2.5rem, 12vw + 0.3rem, 6.5rem);
$font-sizeXXL: clamp(2rem, 7vw + 0.3rem, 5.1rem);
$font-sizeXL: clamp(1.7rem, 5vw + 0.3rem, 3.9rem);
$font-sizeX: clamp(1.4rem, 3vw + 0.3rem, 2.3rem);
$font-sizeL: clamp(1rem, 1.5vw + 0.3rem, 1.4rem);
$font-sizeM: clamp(0.8rem, 1.3vw + 0.2rem, 1.1rem);
$font-sizeS: clamp(0.7rem, 1.2vw + 0.2rem, 1rem);
$font-sizeXS: clamp(0.6rem, 1.1vw + 0.15rem, 0.8rem);
