@use "../abstracts" as *;
//this file contains general css that are used for global styling
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

section {
  @include flexbox(row, center, center);
  width: 100%;
  .section-container {
    @include flexbox(column, center, flex-start, 40px);
    width: min(100% - 3.5rem, 70.8rem);
    padding: $padding2XL 0;
  }
}

body.no-scroll {
  overflow: hidden;
}

