@use "../../abstracts" as *;

#section4 {
  .container {
    @include flexbox(column, center, flex-start);
    background-color: $accent-clr;
    width: 100%;
    color: $secondary-font-clr;
    padding: $padding2XL;
    border-radius: $radiusXL;
    overflow: hidden;
    position: relative;
    .promo-banner {
      @include flexbox(row, space-between, center);
    }
    .promo-content {
      @include flexbox(column, center, flex-start, 20px);
      strong {
        background-color: $faded-clr;
        padding: $paddingXXS $paddingXS;
        border-radius: $radiusM;
      }
      .promo-tag {
        font-size: $font-sizeXS;
        background-color: $faded-clr;
        padding: $paddingXXS $paddingS;
        border-radius: 100px;
      }
      .shop-btn {
        background-color: $primary-clr;
        padding: $paddingS $paddingL;
        border: none;
        color: $accent-clr;
        font-weight: 600;
        font-size: $font-sizeS;
        cursor: pointer;
      }
    }

    .decoration-circle {
      position: absolute;
      pointer-events: none;
    }
    .circle1 {
      width: 400px;
      height: 400px;
      border-radius: 50%;
      background-color: $faded-clr;
      bottom: 0px;
      right: -15%;

      opacity: 0.6;
    }
    .circle2 {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: $faded-clr;
      bottom: -35%;
      right: 5%;

      opacity: 0.8;
    }
  }
}
