@use "../../abstracts" as *;

#section2 {
  .categories-grid {
    @include grid(repeat(4, 1fr), 1fr, 20px);
    width: 100%;
  }
  .category-card {
    @include flexbox(row, space-between, center, 10px);
    gap: 10px;
    box-sizing: border-box;
    padding: $paddingXL $paddingXL;
    border: 1px solid $primary-border-clr;
    border-radius: $radiusXL;
    transition-duration: 0.25s;
    .category-image {
      aspect-ratio: 1;
      border-radius: $radiusXL;
      object-fit: cover;
      width: 60px;
    }
    .category-info {
      flex-grow: 1;
      .category-name {
        font-size: $font-sizeXS;
      }
      .product-count {
        font-size: $font-sizeXXS;
      }
    }
    .category-arrow {
      color: grey;
      transition-duration: 0.25s;
    }
    &:hover {
      box-shadow: $shadow-card-hover;
      transform: translateY(-4px);
      border-color: $accent-clr;
      cursor: pointer;
      .category-arrow {
        color: $accent-clr;
        transform: translateX(5px);
      }
    }
  }
}

@media (max-width: $breakpointL) {
  #section2 {
    .categories-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: $breakpointM) {
  #section2 {
    .splitter {
      flex-direction: column;
      align-items: flex-start;
    }
    .categories-grid {
      grid-template-columns: 1fr;
    }
    .category-card {
      .category-image {
        border-radius: 10px;

        width: 40px;
      }
    }
  }
}
